* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100vw;
    height: 100vh;
    filter: blur(2px);
}

#dial {
    /* background: red; */
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.val-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vals {
    color: white;
    font-size: 3rem;
    font-weight: bolder;
    margin: 0px .2em;
}

.subset {
    color: white;
    text-align: center;
    font-size: 14px;
}